<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ez_rental">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.example.ez_rental.app.AppController"

        android:allowBackup="true"
        android:icon="@drawable/ic_hello"
        android:label="Ez-Rental"
        android:roundIcon="@drawable/ic_logoif"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:label">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name="com.example.ez_rental.activity.AdminMenu" />
        <activity android:name="com.example.ez_rental.activity.Reservation.ViewReservationActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="com.example.ez_rental.activity.Reservation.ReservationCompleteActivity" />
        <activity android:name="com.example.ez_rental.activity.Reservation.ReservationSummaryActivity" />
        <activity android:name="com.example.ez_rental.activity.Reservation.CarInfoActivity" />
        <activity android:name="com.example.ez_rental.activity.Payment.ViewTransactionActivity" />
        <activity android:name="com.example.ez_rental.activity.Feedback.ViewFeedbackActivity" />
        <activity android:name="com.example.ez_rental.activity.brand.addBrand" />
        <activity android:name="com.example.ez_rental.activity.brand.ViewBrandActivity" />
        <activity android:name="com.example.ez_rental.activity.brand.EditBrand" />
        <activity android:name="com.example.ez_rental.activity.User.UserViewActivity"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.example.ez_rental.activity.User.GuestViewActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.example.ez_rental.activity.car.AddCarActivity" />
        <activity android:name="com.example.ez_rental.activity.car.CarImageUploadActivity" />
        <activity android:name="com.example.ez_rental.activity.car.EditCarActivity" />
        <activity android:name="com.example.ez_rental.activity.car.ViewCar" />
        <activity android:name="com.example.ez_rental.activity.carDriver.AddCarDriverActivity" />
        <activity android:name="com.example.ez_rental.activity.carDriver.ViewCarDriver" />
        <activity android:name="com.example.ez_rental.activity.carDriver.EditCarDriverActivity" />
        <activity android:name="com.example.ez_rental.activity.Reservation.ReturnPlaceActivity" />
        <activity android:name="com.example.ez_rental.activity.User.UpdateActivity" />
        <activity android:name="com.example.ez_rental.activity.ViewUser" />
        <activity android:name="com.example.ez_rental.activity.User.RegisterActivity" />
        <activity android:name="com.example.ez_rental.activity.User.LoginActivity" />
        <activity android:name="com.example.ez_rental.activity.User.ForgotPassword"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="com.example.ez_rental.activity.AdminLoginActivity" />
        <activity android:name="com.example.ez_rental.activity.Reservation.ReserveCarActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            >

    </activity>
        <activity android:name="com.example.ez_rental.activity.Payment.payment"/>
        <activity android:name="com.example.ez_rental.activity.Reservation.MapActivity"/>
        <activity android:name="com.example.ez_rental.activity.Payment.ConfirmationActivity"/>
        <activity android:name="com.example.ez_rental.activity.Reservation.CarActivity"/>
        <activity android:name="com.example.ez_rental.activity.Reservation.ViewCarActivity"
            android:theme="@style/AppTheme2"/>
        <activity android:name="com.example.ez_rental.activity.Reservation.PermissionsActivity"/>
        <activity android:name="com.example.ez_rental.activity.User.ImageUploadActivity"/>
        <activity android:name="com.example.ez_rental.activity.StartUp.ActivityLauncher" />
        <activity android:name="com.example.ez_rental.activity.Reservation.ViewCDActivity"/>
        <activity android:name="com.example.ez_rental.activity.StartUp.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <!--    <activity android:name=".activity.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>